<ul class="detailsTop">
  <li>
    <div class="sectionTitle">
      <h1>
        <fa-icon [icon]="faUserLock" [styles]="{'color': 'teal'}"></fa-icon>
        John Wick
      </h1>
    </div>
  </li>
  <li>
    <span>
      <button type="button" (click)="editMode()" *ngIf="readonlyMode">
        Edit</button>
      <button type="button" (click)="editMode()" *ngIf="!readonlyMode" class="bgRed">
        Save</button>
      <button type="button" (click)="editMode()" *ngIf="!readonlyMode">
        Cancel</button>
    </span>
  </li>
</ul>

<div class="containerBox">
  <form #personForm="ngForm" autocomplete="off">
    <fieldset [disabled]="readonlyMode">
      <div class="sections">

        <div>
          <h2>Info</h2>
          <label>Name*
            <input type="text" name="firstName" [(ngModel)]="account.firstName" #firstName="ngModel"
              [ngClass]="{'invalidinput': firstName.errors && firstName.touched}">
          </label>
          <label>Surname*
            <input type="text" name="lastName" [(ngModel)]="account.lastName" #lastName="ngModel"
              [ngClass]="{'invalidinput': lastName.errors && lastName.touched}">
          </label>
          <label>Email
            <input type="text" name="email" [(ngModel)]="account.email" #email="ngModel"
              [ngClass]="{'invalidinput': email.errors && email.touched}">
          </label>
        </div>

        <div>
          <h2>Account</h2>
          <label>ID*
            <input type="text" name="id" [(ngModel)]="account.id">
          </label>
          <label>Password*
            <input type="password" name="password" [(ngModel)]="account.password" #password="ngModel"
              [ngClass]="{'invalidinput': password.errors && password.touched}" required>
          </label>
        </div>

      </div>
    </fieldset>
  </form>
</div>