<h1>
  <fa-icon [icon]="faUserLock" [styles]="{'color': 'teal'}"></fa-icon>
  Account
</h1>
<div class="containerBox">
  <h2>John Wick</h2>
  <table>
    <tr>
      <td width="90px"><strong>Email</strong></td>
      <td>john.wick@gmail.com</td>
    </tr>
    <tr>
      <td><strong>Role</strong></td>
      <td>Manager</td>
    </tr>
    <tr>
      <td><strong>Team </strong></td>
      <td>Data and Plattforms</td>
    </tr>
    <br />
    <tr>
      <td><strong>Login </strong></td>
      <td>Neo2000</td>
    </tr>
    <tr>
      <td><strong>Password </strong></td>
      <td>*********</td>
    </tr>
  </table>

  <br />

  <button (click)="alert()">Edit</button>
</div>