input, select, textarea {
  margin-top: 4px;
}
input:hover, select:hover, textarea:hover {
  border: 1px black solid;
}
input::placeholder, textarea::placeholder {
  color: gray;
  font-style: inherit;
}
.sections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
  grid-gap: 30px;
}
@media(max-width: 470px) {
  .sections {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
