<div *ngIf="task">

  <ul class="detailsTop">
    <li>
      <div class="sectionTitle">
        <h1>
          <fa-icon [icon]="recruitmentIcon" [styles]="{'color': 'teal'}"></fa-icon>
          {{ task.role }}
        </h1>
      </div>
    </li>
    <li>
      <span>
        <button type="button" (click)="editMode()" *ngIf="readonlyMode">
          Edit</button>
        <button type="button" (click)="saveEdit()" *ngIf="!readonlyMode" class="bgRed">
          Save</button>
        <button type="button" (click)="cancelEdit()" *ngIf="!readonlyMode">
          Cancel</button>
      </span>
    </li>
  </ul>

  <div class="containerBox">
    <form #personForm="ngForm" autocomplete="off">
      <fieldset [disabled]="readonlyMode">
        <div class="sections">

          <div class="section">
            <h2>Candidate</h2>
            <label>Role:
              {{task.role}}
              <input type="text" name="role" [(ngModel)]="task.role">
            </label>
            <label>Position:
              <select name="position" [(ngModel)]="task.position">
                <option value="Junior">Junior</option>
                <option value="Mid">Mid</option>
                <option value="Senior">Senior</option>
              </select>
            </label>
            <label>Salary:
              <input type="text" name="salary" [(ngModel)]="task.salary">
            </label>
            <label>Location:
              <input type="text" name="location" [(ngModel)]="task.location">
            </label>
            <label>Manager:
              <input [(ngModel)]="task.manager" type="text" name="manager" value="John Wick">
            </label>
          </div>

          <div class="section">
            <h2>Project</h2>
            <label>Project Name:
              <input type="text" name="projectName" [(ngModel)]="task.projectName">
            </label>
            <label>Project Duration:
              <input type="text" name="projectDuration" [(ngModel)]="task.projectDuration">
            </label>
            <label>Project Description:
              <textarea name="projectDescription" rows="7" cols="23" placeholder="Minimum 4 sentences!"
                [(ngModel)]="task.projectDescription"></textarea>
            </label>
          </div>

          <div class="section">
            <h2>Skills</h2>
            <label>Technical Skills:
              <input type="text" name="technicalSkills" [(ngModel)]="task.technicalSkills">
            </label>
            <label>Soft Skills:
              <input type="text" name="softSkills" [(ngModel)]="task.softSkills">
            </label>
            <label>Languages:
              <input type="text" name="languages" [(ngModel)]="task.languages">
            </label>
          </div>

        </div>
      </fieldset>
    </form>
  </div>

  <button (click)="goBack()" [disabled]="!readonlyMode">Back</button>

</div>

<div *ngIf="!task">
  <div class="containerBox">
    Not found.
  </div>
</div>