<div class="topbar">

  <div class="logo">
    <h1>HR App</h1>
  </div>

  <nav class="mainMenu">
    <ul>
      <li>
        <button class="bgPurple" [routerLink]="['newRecruitment']" (click)="new()">
          <fa-icon [icon]="faPlusCircle" [styles]="{'color': 'red'}"></fa-icon>
          New
        </button>
      </li>
      <li>
        <button [routerLink]="['dashboard']">
          <fa-icon [icon]="faChartArea" [styles]="{'color': 'teal'}"></fa-icon>
          Dashboard
        </button>
      </li>
      <li>
        <button [routerLink]="['reports']">
          <fa-icon [icon]="faChartLine" [styles]="{'color': 'teal'}"></fa-icon>
          Reports
        </button>
      </li>
    </ul>
  </nav>

  <nav class="userMenu">
    <ul>
      <li>
        <button [routerLink]="['account']">
          <fa-icon [icon]="faUserLock" [styles]="{'color': 'teal'}"></fa-icon>
          Account
        </button>
      </li>
      <li>
        <button [routerLink]="['login']" class="bgRed" style="margin: 0px;" (click)="logout()">
          <fa-icon [icon]="faLongArrowAltUp" [styles]="{'color': 'red'}"></fa-icon>
          Logout
        </button>
      </li>
    </ul>
  </nav>


</div>