a, a:visited {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  color: black;
  font-size: 1.1em;
  height: 43px;
  margin-top: 10px;
}

button:hover, .selected {
  border-bottom: 2px solid black;
}

h1 {
  margin: 0;
  white-space: nowrap;
}

ul li>* {
  margin-right: 0px;
}

.topbar, .logo, .topbar nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.topbar {
  background-color: white;
  border: none;
  border-bottom: 1px solid gray;
  /* box-shadow: 0 2px 10px -4px #555; */
  color: black;
  height: 55px;
  margin-bottom: 15px;
  padding: 10px 20px;
  transition: 0.3s ease;
  justify-content: space-between;
  width: 100%;
}

@media(max-width: 500px) {
  button {
    background-color: #dddddd;
    height: auto;
    margin-top: 0px;
    padding: 5px 0px 2px 0px;
    width: 100%;
  }
  .new {
    background-color: transparent;
    height: 45px;
    margin-bottom: 10px;
  }
  .topbar, .mainMenu ul {
    flex-direction: column !important;
  }
  .topbar {
    margin-bottom: 165px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .mainMenu, .mainMenu ul, .mainMenu ul li {
    width: 100%;
  }
  .mainMenu ul li {
    margin-bottom: 5px;
  }
}