<div class="topbar">

  <!-- <div class="logo">
    <h1><a routerLink="/dashboard">{{applicationName}}</a></h1>
  </div> -->

  <nav class="mainMenu">
    <ul>
      <li>
        <button class="new" [routerLink]="['newRecruitment']"
          [class.selected]="router.url.toLocaleLowerCase().includes('new')">
          <fa-icon [icon]="faPlusCircle" [styles]="{'color': 'red'}"></fa-icon>
          New
        </button>
      </li>
    </ul>
  </nav>

  <nav class="mainMenu">
    <ul>
      <li>
        <button [routerLink]="['dashboard']" [class.selected]="router.url.toLocaleLowerCase().includes('dashboard')">
          <fa-icon [icon]="faChartArea" [styles]="{'color': 'teal'}"></fa-icon>
          Dashboard
        </button>
      </li>
      <li>
        <button [routerLink]="['reports']" [class.selected]="router.url.toLocaleLowerCase().includes('reports')">
          <fa-icon [icon]="faChartLine" [styles]="{'color': 'teal'}"></fa-icon>
          Reports
        </button>
      </li>
    </ul>
  </nav>

  <nav class="mainMenu">
    <ul>
      <li>
        <button [routerLink]="['account']" [class.selected]="router.url.toLocaleLowerCase().includes('account')">
          <fa-icon [icon]="faUserLock" [styles]="{'color': 'teal'}"></fa-icon>
          Account
        </button>
      </li>
      <li>
        <button [routerLink]="['login']" (click)="logout()">
          <fa-icon [icon]="faLongArrowAltUp" [styles]="{'color': 'red'}"></fa-icon>
          Logout
        </button>
      </li>
    </ul>
  </nav>

</div>