a, a:visited {
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  color: black;
  font-size: 1.1em;
  height: 53px;
  opacity: 0.6;
}

button:hover {
  box-shadow: none;
  border-bottom: 2px solid purple;
  opacity: 1;
}

.selected {
  border-bottom: 2px solid purple;
  opacity: 1;
}

h1 {
  margin: 0;
  white-space: nowrap;
}

ul li>* {
  margin-right: 0px;
}

.topbar, .logo, .topbar nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.topbar {
  background-color: white;
  border-bottom: 1px solid gray;
  height: 55px;
  margin-bottom: 15px;
  transition: 0.3s ease;
  justify-content: space-between;
  width: 100%;
}

@media(max-width: 520px) {
  button {
    background-color: #dddddd;
    height: auto;
    padding-top: 5px;
    width: 100%;
  }
  .topbar, .mainMenu ul, .userMenu ul {
    flex-direction: column !important;
    width: 100%;
  }
  .topbar {
    margin-bottom: 180px;
  }
  .logo {
    margin-bottom: 20px;
  }
  .mainMenu, .userMenu {
    width: 100%;
  }
  .mainMenu ul li, .userMenu ul li {
    margin-bottom: 5px;
    width: 100%;
  }
}