<div class="containerBox">
  <div class="loginLogo">
    <h1>
      <fa-icon [icon]="logo" [styles]="{'color': 'teal'}"></fa-icon>
      HR APP
    </h1>
  </div>
</div>

<div class="containerBox">
  <form>
    <div class="msg"></div>
    <div>
      <label>Username</label>
      <input type="text" name="user" [(ngModel)]="account.id">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="account.password">
    </div>
    <!-- <input [routerLink]="" class="button" type="submit" value="Submit"> -->
  </form>
  <button class="bgRed" (click)="login()">Login</button>
</div>s