h2 {
  margin-bottom: 3px;
}
label {
  margin-right: 10px;
}
.taskList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.containerBox {
  margin-bottom: 0px;
}
.containerBox h5 {
  margin-bottom: 0px;
  margin-top: 6px;
}
.containerBox:hover {
  background-color: rgb(205, 236, 255);
  cursor: pointer;
  transition: all 0.3s ease;
}
.containerBox > span {
  margin-right: 20px;
  display: inline-block;
  min-width: 250px;
}
.search {
  background: white;
  border: 1px solid lightgray;
  border-radius: 4px;
  font-style: inherit;
  font-size: 16px;
  margin-right: 10px;
  padding: 8px;
  width: 300px !important;
}
.search::placeholder {
  color: gray;
}
.search:hover, .search:active, .search:focus {
  border: 1px solid navy;
  box-shadow: 0 1px 2px 0 lightgray, 0 2px 6px 2px lightgray;
  transition: all 0.3s ease;
}
.toolBox input {
  margin-bottom: 15px;
  width: auto;
}
.toolBox > span {
  display: inline-block;
}
.warning {
  background-color: yellow;
  font-size: 0.9em;
  margin-left: 10px;
  padding: 2px;
}

@media(max-width: 735px) {
  .search {
    clear: both;
    display: block;
  }
  .taskList {
    grid-template-columns: 1fr;
  }
}
